@import 'styles/screenSize.scss';

.Hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  filter: brightness(100%);
  border: 0px solid #fff;
  transition: border ease-in-out .2s;

  &:hover {
    transition: border ease-in-out .2s;
    border: 10px solid #fff;
  }

  &__container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  &__centre-square {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    height: 35px;
    width: 90px;
    margin: 0 auto;
    font-size: 0.75rem;

    @include md {
      width: 130px;
      height: 50px;
      font-size: 0.825rem;
      border-width: 2px;
    }

    @include lg {
      width: 150px;
      height: 65px;
      font-size: 1rem;
      border-width: 2px;
    }

    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }

  &__tagline {
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    text-transform: uppercase;

    @include md {
      font-size: 40px;
    }

    @include lg {
      font-size: 50px;
    }
  }
}




// .Hero:before:hover {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	z-index: 2;
// 	display: block;
// 	content: '';
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(255,255,255,.1);
// 	border-radius: 100%;
// 	transform: translate(-50%, -50%);
// 	opacity: 1;
// }
