.Hero {
  width: 100%;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
  }

  &::after {
    content: '';
    left: calc(100% - 1.5rem);
  }

  &::before,
  &::after {
    background: #fff;
    color: #888888;
    display: block;
    font-size: 20px;
    height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 1.5rem;
    z-index: 100;
  }

  &:hover {
    filter: brightness(80%);
    transition: filter ease-in-out .2s;
  }

  &__container {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  &__centre-square {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px #fff;
    color: #fff;
    height: 8%;
    text-align: center;
    width: 10%;
    margin: 0 auto;
  }

  &__tagline {
    color: #fff;
    font-size: 50px;
    margin: 0 auto;
    text-transform: uppercase;
  }
}




// .Hero:before:hover {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	z-index: 2;
// 	display: block;
// 	content: '';
// 	width: 100%;
// 	height: 100%;
// 	background: rgba(255,255,255,.1);
// 	border-radius: 100%;
// 	transform: translate(-50%, -50%);
// 	opacity: 1;
// }
