@import 'styles/screenSize.scss';

.Carousel {
  display: flex;

  &__link--left-arrow {
    float: left;
  }

  &__link--right-arrow {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 90%;
    height: 100%;
    position: absolute;

    @include xs {
      left: 92%;
    }

    @include sm {
      left: 94%;
    }

    @include md {
      left: 93%;
    }

    @include lg {
      left: 93%;
    }

    @include xl {
      left: 95%;
    }
  }

  &__image--hidden {
    display: none;
  }

  &__link--left-arrow,
  &__link--right-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    width: 0px;
    color: #fff;
  }

  &::before,
  &::after {
    background: #fff;
    color: #888888;
    display: block;
    font-size: 20px;
    height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 1.5rem;
    z-index: 100;
  }

  #i-chevron-left,
  #i-chevron-right {
    width: 30px;
    stroke-width: 1px;

    &:hover {
      stroke-width: 2px;
    }

    @include md {
      stroke-width: 1.5px;
      width: 50px;
    }

    @include lg {
      stroke-width: 1.5px;
      width: 50px;
    }
  }
}