@import "src/client/styles/screenSize.scss";

.Carousel {
  display: flex;

  &__container {
    display: flex;
    max-height: 45rem;
    transition: transform 0.2s;
    z-index: 1;

    &--scale-up:hover {
      transition: transform 0.5s;
      transform: scale(1.05);
    }

    &--scale-down:hover {
      transition: transform 0.5s;
      transform: scale(0.95);
    }
  }

  &__item {
    object-fit: cover;
  }

  // &__link--left-arrow {
  // }

  &__link--right-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -2.25rem;

    @include md {
      margin-left: -3.5rem;
    }
  }

  &__image--hidden {
    display: none;
  }

  &__link--left-arrow,
  &__link--right-arrow {
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    width: 0px;
    color: #fff;
  }

  &::before,
  &::after {
    background: #fff;
    color: #888888;
    display: block;
    font-size: 20px;
    height: 3rem;
    position: absolute;
    top: calc(50% - 1.5rem);
    width: 1.5rem;
    z-index: 100;
  }

  #i-chevron-left,
  #i-chevron-right {
    width: 30px;
    stroke-width: 1px;

    &:hover {
      stroke-width: 2px;
    }

    @include md {
      stroke-width: 1.5px;
      width: 50px;
    }

    @include lg {
      stroke-width: 1.5px;
      width: 50px;
    }
  }
}
