@import "src/client/styles/screenSize.scss";

.Nav {
  height: 3rem;
  font-size: 0.75rem;

  @include md {
    height: 3rem;
    font-size: 1rem;
  }

  @include lg {
    height: 4rem;
    font-size: 1rem;
  }

  a {
    color: #3d3b3b;
  }
}
