@import "src/client/styles/tools.scss";

.PrimaryNav {
  $root: &;
  $padding-edges: 15%;
  font-size: 0.75rem;
  text-align: center;

  &__container {
    .MobileNav {
      &--open {
        display: flex;
        flex-direction: column;
        height: 50rem;
        background-color: $nav_background-color;
        align-items: flex-start;
        width: 22rem;
        opacity: 0.9;

        .PrimaryNav__list-item {
          margin: 1rem 0;
        }

        .PrimaryNav__list-item:first-child {
          margin-top: 2rem;
        }
      }
    }
  }

  @include md {
    font-size: 0.875rem;
  }

  @include lg {
    font-size: 0.875rem;
  }

  &__list {
    padding-left: $padding-edges;
    height: 100%;
    display: none;

    @include lg {
      display: flex;
    }

    &-item {
      margin-right: 2rem;
      align-items: center;
      cursor: pointer;

      #{$root}__sub-nav {
        display: none;
      }

      @include lg {
        display: flex;
      }

      &:hover {
        // #{$root}__sub-nav {
        //   display: flex;
        //   transition-delay: 1s;
        // }
      }

      .SubNav--is-open {
        display: flex;
        transition-delay: 1s;
      }
    }
  }

  &__link {
    color: rgb(105, 105, 105);

    &:hover {
      color: #194d91;
    }
  }

  &__mobile-icon {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    margin-left: 0.75rem;

    @include lg {
      display: none;
    }

    .bs-icon {
      width: 2rem;
      color: rgba(105, 105, 105, 0.8);
      stroke-width: 1px;
    }
  }

  #i-close {
    height: 1.5rem;
    width: 1.5rem;
  }
}
