@import "src/client/styles/tools.scss";

.Location {
  &__container,
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    margin: 0 1rem;

    @include lg {
      margin: 0 8rem;
    }

    figure {
      display: flex;
      flex-direction: column;

      figcaption {
        font-size: 0.825rem;
        color: rgb(105, 105, 105);
        line-height: 2;
      }
    }
  }

  &__section-container {
    display: flex;
    margin: 4rem 0;
    flex-direction: column;

    @include lg {
      flex-direction: row;
    }
  }

  &__category-weather,
  &__category-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;

    @include lg {
      margin: 0 0.5rem;
      width: 50%;
    }

    &-iframe {
      width: 100%;
      height: 25rem;
    }
  }

  &__category-weather {
    border: 1px dotted rgba(172, 216, 245, 0.6);
    padding: 1rem;
    min-height: 22rem;

    h2 {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  &__Carousel {
    margin: 2rem 0;
  }

  &__Food {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
