@tailwind base;

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

p {
    margin: 16px 0px;
}

@tailwind components;
@tailwind utilities;